/* LoginPage CSS starts */
.loginPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: gray;
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: aqua;
  width: 200px;
  gap: 20px;
  background: white;
}
.loginInput {
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
}

.loginButton {
  padding: 10px;
  background-color: gray;
  cursor: pointer;
  color: whitesmoke;
}
.newUser {
  font-size: 14px;
  text-align: center;
}
.loginError {
  font-size: 15px;
  color: red;
  text-align: center;
} /* Login Page CSS ends  */

/* Register Page CSS Starts */
.registerPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: gray;
}

.registerForm {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: aqua;
  width: 200px;
  gap: 20px;
  background: white;
}
.registerInput {
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
}

.registerButton {
  padding: 10px;
  background-color: gray;
  cursor: pointer;
  color: whitesmoke;
}
.alreadyUser {
  font-size: 14px;
  text-align: center;
}
.registerError {
  font-size: 15px;
  color: red;
  text-align: center;
} /* Register Page CSS Ends */
