/* LoginPage CSS starts */
.loginPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: gray;
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: aqua;
  width: 200px;
  gap: 20px;
  background: white;
}
.loginInput {
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
}

.loginButton {
  padding: 10px;
  background-color: gray;
  cursor: pointer;
  color: whitesmoke;
}
.newUser {
  font-size: 14px;
  text-align: center;
}
.loginError {
  font-size: 15px;
  color: red;
  text-align: center;
} /* Login Page CSS ends  */

/* Register Page CSS Starts */
.registerPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: gray;
}

.registerForm {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: aqua;
  width: 200px;
  gap: 20px;
  background: white;
}
.registerInput {
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
}

.registerButton {
  padding: 10px;
  background-color: gray;
  cursor: pointer;
  color: whitesmoke;
}
.alreadyUser {
  font-size: 14px;
  text-align: center;
}
.registerError {
  font-size: 15px;
  color: red;
  text-align: center;
} /* Register Page CSS Ends */

/* Navbar Css Starts */
.navbar {
  background: gray;
}
.nav-container {
  padding: 1rem 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links {
  padding-left: 25rem;
  display: flex;
  gap: 12px;
}
.logo-img {
  width: 200px;
  padding-left: 1em;
}
.add-blog {
  color: black;
  text-decoration: none;
}
/* Navbar CSS ends */

/* Footer CSS starts */
.footer {
  margin-top: 100px;
  padding: 20px;
  background: gray;
  color: black;
}
